@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
  font-family: "Poppins";
}
body {
  background-color: #fafafa;
}
.container {
  max-width: 1200px;
  margin: auto;
}
/* Styling header section */

/* Styling cart modal */
.cartBack {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.485);
  position: fixed;
  top: -2000px;
  z-index: 999999;
}
.active{
  top: 0;
}
.cart {
  padding: 28px;
  position: absolute;
  width: 470px;
  background-color: white;
  right: 0;
  top: 0;
}
.total h2{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.cartProducts {
  padding: 30px 0;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  scrollbar-width: thin;
}
.cart-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 26px;
  border-bottom: 1px solid #d9d9d9;
}
.aboutProduct{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: start;
}
.productPrice{
  color: #B88E2F;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}
.productTitle{
  font-size: 18px;
  font-weight: 500;
}
.productImg {
  width: 108px;
  height: 108px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productData p{
  font-size: 13px;
  font-weight: 500;
}
.productImg img {
  width: 100%;
  object-fit: contain;
}
.product-calc {
  display: flex;
  align-items: center;
  gap: 15px;
}
.total {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 80px;
  padding: 20px 0;
}
.subtotalText{
  color: #B88E2F;
}
.hr {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #898989;
}
.cartButtons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.cartButtons button{
  padding: 6px 30px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 400;
  background-color: transparent;
}

/* Styling nav section */
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  list-style: none;
}
.links a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: black;
}
.navButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.navBtn{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.navBtn:hover{
  background-color: #898989;
}

/* Styling hero section */

.hero {
  background-image: url("img/hero-back.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero .container {
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.hero-text {
  width: 643px;
  /* height: 343px; */

  border-radius: 10px;
  background-color: #fff3e3;
  padding: 52px 39px;
  padding-bottom: 24px;
}
.arrival {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #333333;
}
.hero-title {
  color: #b88e2f;
  font-size: 52px;
  line-height: 65px;
  font-weight: 700;
  padding-bottom: 17px;
}
.hero-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  padding-bottom: 46px;
}
.buyBtn {
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #b88e2f;

  padding: 25px 72px;
  border: none;
}

/* Styling main section  */

/* Styling section 1 */

.section1 {
  padding: 56px 0;
}
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #333333;
  text-align: center;
}
.title-info {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
  text-align: center;
  padding-bottom: 60px;
}
.sct1-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.sct1-card p {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-top: 15px;
}

/* Styling section2 */
.section2 {
  padding-bottom: 40px;
}
.section2 .title {
  padding-bottom: 24px;
}
.sct2-block {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
  padding-bottom: 44px;
  height: 1190px;
  overflow: hidden;
}
.moreProduct {
  transition: all 1s ease;
  height: 3050px;
}
.sct2-card {
  box-shadow: 0px 0px 5px 1px gray;
  width: 285px;
  background-color: #f4f5f7;
  position: relative;
  overflow: hidden;
}
.card-img {
  overflow: hidden;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  padding: 20px;
}
.card-img img {
  width: 100%;
  object-fit: cover;
}
.cardbottom {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding-top: 10px;
}
.card-img img {
  object-fit: cover;
}
.hover-data {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  opacity: 0;
}
.sct2-card:hover .hover-data {
  opacity: 1;
  transition: all 1s ease;
}
.sct2-card:hover .discount {
  top: -100px;
}
.addCart {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #b88e2f;
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  border: none;
}
.hover-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
  color: white;
}
.hover-item {
  display: flex;
  gap: 3px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.card-text {
  padding: 16px;
}
.card-text h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #3a3a3a;
  padding-bottom: 8px;
}
.card-text .card-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #898989;
  padding-bottom: 8px;
}
.price {
  font-size: 20x;
  color: black;
}
.key {
  font-weight: 600;
}
.card-price h2 {
  padding: 0;
}
.moreBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moreBtn button {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid #b88e2f;
  font-size: 16px;
  font-weight: 600;
  color: #b88e2f;
  background-color: white;
}

/* styling section3 */

.section3 {
  padding: 44px 0;
  background-color: #fcf8f3;
}
.section3 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.sct3-text h1 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  padding-bottom: 7px;
  color: #3a3a3a;
}
.sct3-text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-bottom: 7px;
  color: #616161;
  padding-bottom: 24px;
}
.exploreBtn {
  background-color: #b88e2f;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 12px 36px;
}
.sct3-imgs {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 24px;
}
.main-img {
  position: relative;
}
.mainImgTitle {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.712);
}
.mainImgTitle p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #616161;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.mainImgTitle h2 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
}
.toright {
  position: absolute;
  right: -48px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b88e2f;
  bottom: 0px;
}
.slider-img {
  position: relative;
}
.right {
  position: absolute;
  top: 50%;
  right: -20px;
  box-shadow: 0px 4px 14px 1px #00000029;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-items {
  display: flex;
  align-items: center;
  justify-content: safe;
  padding-top: 25px;
  gap: 15px;
}

/* Styling section 4 */

.section4 {
  padding-top: 60px;
  padding-bottom: 50px;
}

.share {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #616161;
  padding-bottom: 8px;
}
.sct4-main {
  width: 100%;
}
.sct4-main img {
  width: 100%;
}

/* styling footer section */

footer {
  border-top: 1px solid #bbbbbb;
  padding-top: 48px;
}
footer .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 2px solid #e4e4e4;
}
.footer-logo {
  padding-bottom: 45px;
  font-size: 24px;
  font-weight: 700;
}
footer .col p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 45px !important;
}
footer .footer-info {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
  width: 300px;
}
.bolder {
  color: #9f9f9f;
  padding-bottom: 55px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
form input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
}
form button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}
.copyright {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
