.shop-hero {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../img/shophero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heroTitle {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heroTitle h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
}
.way {
  display: flex;
  align-items: center;
  gap: 15px;
}
.way p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
/* Styling cart product section */

.cartProductData .container{
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 72px 0;
}
.productData{
  width: 800px;
}
.dataNav{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  padding: 15px 0;
  padding-left: 160px;
  background-color: #F9F1E7;
}
.dataNav p{
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}
.price{
  padding-left: 45px;
}
.quantity{
  padding-left: 60px;     
}
.productList{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.cartProduct{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  padding: 55px 0;
  width: 100%;
}
.cartProduct p{
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px;
}
.gray{
  color: #9F9F9F;
}
.cartProduct p:nth-child(5){
  padding-left: 30px !important;
  }
.valueProduct{
  width: 32px;
  height: 32px;
  border: 1px solid #9F9F9F;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productImg{
  width: 108px;
  height: 108px;
  border-radius: 5px;
  background-color: #EFE6D1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.productImg img{
  width: 100%;
  object-fit: contain;
}
.trash{
  color: #B88E2F;
}

/* Cart totals */
.productTotals{
  background-color: #F9F1E7;
  padding: 15px 65px;
}
.productTotals h2{
  padding-bottom: 61px;
}
.row{
  display: flex;
  gap: 62px;
  padding-bottom: 31px;
}
.checkoutBtn{
  padding: 14px 59px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  background-color: transparent;
  border-radius: 15px;
  margin-bottom: 60px;
}
.productTotals h2{
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
}
.key{
  font-weight: 500;
}
.subtotalValue{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9F9F9F;
}
#totalValue{
  font-size: 20px !important;
  font-weight: 500;
  line-height: 30px;
  color: #B88E2F;
}

/* styling service section */

.services {
  background-color: #faf3ea;
  padding: 80px 0;
}
.services .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service {
  display: flex;
  gap: 10px;
}
.service h2 {
  color: #242424;
  font-size: 22px;
  font-weight: 600;
  line-height: 37px;
}
.service p {
  color: #898989;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
