main {
  padding-top: 100px;
}
.way {
  background-color: #f9f1e7;
  padding: 38px 0;
}
.way .container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
.main-data {
  padding: 35px 0;
  padding-bottom: 80px;
}
.main-data .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.leftSide {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
}
.left-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.img-box {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f1e7;
  border-radius: 10px;
}
.main-img {
  background-color: #f9f1e7;
  border-radius: 10px;
  width: 425px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-img img {
  width: 100%;
}
.leftSide {
  width: 510px;
}
.right-side {
  width: 610px;
}
.product-title {
  font-size: 42px;
  font-weight: 400;
  line-height: 63px;
}
.product-price {
  color: #9f9f9f;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.rating {
  display: flex;
  gap: 20px;
  color: #9f9f9f;
  padding-bottom: 18px;
}
.product-info {
  font-size: 13px;
  font-weight: 400;
  width: 440px;
  line-height: 19.5px;
  padding-bottom: 22px;
}
.box-title {
  font-size: 14px;
  font-weight: 400;
  color: #9f9f9f;
  line-height: 21px;
  padding-bottom: 12px;
}
.sizes {
  display: flex;
  gap: 16px;
  padding-bottom: 18px;
}
.size-box {
  width: 30px;
  height: 30px;
  background-color: #f9f1e7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.size-box:first-child {
  background-color: #b88e2f;
  color: white;
}
.colors {
  display: flex;
  gap: 16px;
  padding-bottom: 32px;
}
.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.blue {
  background-color: #816dfa;
}
.black {
  background-color: black;
}
.brown {
  background-color: #b88e2f;
}
.mainBtns {
  display: flex;
  gap: 18px;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
}
.counter button {
  padding: 5px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
}
.counter button:hover {
  background-color: #9f9f9f;
}
.counter p {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addToCart,
.compare {
  padding: 17px 40px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 18px;
  display: flex;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 50px;
  margin-bottom: 41px;
}
.characters {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.col p {
  padding-bottom: 10px !important;
  color: #9f9f9f;
}
.socials {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  font-size: 20px;
}

/* styling description section */

.description {
  padding: 48px 0;
  border-top: 1px solid #d9d9d9;
}
.title-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 24px;
  color: #9f9f9f;
  font-weight: 400;
  padding-bottom: 37px;
}
.title-row h2 {
  font-size: 24px;
  color: #9f9f9f;
  font-weight: 400;
}
.title-row h2:first-child{
  font-weight: 500;
  color: #000;
}
.description-text p{
  padding-bottom: 30px;
  color: #9F9F9F;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.description-image{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-img{
  width: 590px;
  height: 320px;  
  border-radius: 10px;
  background-color: #F9F1E7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.related-products{
  padding-bottom: 80px;
}
.section-title{
  width: 100%;
  text-align: center;
}
.section-title h2{
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  padding-bottom: 26px;
}
.sct2-card .card-img{
  padding: 0;
}
.products-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 44px;
}
.sct2-card{
  box-shadow: 0px 0px 0px transparent;
}
.show-more{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-more .moreBtn{
  width: 250px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #B88E2F;
  border: 1px solid #B88E2F;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}